
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*GENERAL*/

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F2F4F5;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.backgroung-white{
    background-color: white;
}



/*HEADER*/

header{
    background-color: white;
    padding: 15px;
    margin-bottom: 50px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#main-logo{
    vertical-align: middle;
}



/*MAIN-HEADER*/

.main-header{
    padding: 30px; 
    
}

.button{
    background-color: #47ADF1;
    padding: 12px 16px 12px 16px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;

}

.button2{
    color: rgba(128, 128, 128, 0.6);
    border-color: rgba(128, 128, 128, 0.6);
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 11px 20px 11px 20px;
    margin-left: 5px;

}






/*MAIN-BODY*/
