
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*GENERAL*/

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F2F4F5;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.backgroung-white{
    background-color: white;
}



/*HEADER*/

header{
    background-color: white;
    padding: 15px;
    margin-bottom: 50px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#main-logo{
    vertical-align: middle;
}



/*MAIN-HEADER*/

.main-header{
    padding: 30px; 
    
}

.button{
    background-color: #47ADF1;
    padding: 12px 16px 12px 16px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;

}

.button2{
    color: rgba(128, 128, 128, 0.6);
    border-color: rgba(128, 128, 128, 0.6);
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 11px 20px 11px 20px;
    margin-left: 5px;

}

/*MAIN-BODY*/

.main-body {
    margin-left: 20px;
    padding: 30px;
    line-height: 30px;
}

.main-titles{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.main-list{
    display: inline-block;
    font-size: 16px;
    
}



.check {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    color: black;
    display: inline-block;
    text-align: center;
}

.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}

.main-button{
    background-color: #47ADF1;
    padding: 2px 16px 2px 16px;
    margin-left: 3px;
    border-radius: 17px;
    color: white;
}

.purple{
    background-color: #9B70E3;
}

.green{
    background-color: #64C0A9;
}

.orange{
    background-color: #F29E33;
}

.pink{
    background-color: #D863A1;
}

.yellow{
    background-color: #B0C926;
}